h1,figure,p {
    margin: 0;
    padding: 0;
}
.container {
    width: 920px;
    margin: 0 auto;
}

#encabezado {
   height: 120px;
   display: flex;
   justify-content: space-between;
   align-content: flex-start;
   align-items: center;
}

#encabezado figure {
    margin: 0;
}

#titulo {
    margin: 0;
}

#encabezado h1 {
    font-size: 2.5em;
    padding-bottom: 3px;
    border-bottom: 1px dotted lightgray;
}

#contenido {
    
}

#publicidad {
   height: 300px;
   width: 220px;
   display: inline-block;
   background-color: aqua;
   margin-top: 30px;
   margin-right: 100px;
   margin-left: 100px; 
   align-items: center;    
}

#pie {
   min-height: 150px;
   margin-top: 50px;
}

#navegador {
   height: 50px;
   display: flex;
   justify-content: center;
   background-color: black;
}

#navegador ul {
    padding: 0;
}

#navegador li {
    list-style-type: none;
    padding: 0;
}

#navegador>ul>li {
    display: inline-block;
}

#navegador li a {
    text-decoration: none;
    color: red;
}

#navegador>ul>li>a {
    padding: 10px;
    background-color: black;
    transition: 0.5s;
}

#navegador>ul>li>a:hover {
    background-color: dodgerblue;
}

#navegador li ul {
    display: none;
}

    
.flexible {
    display: flex !important;
}

#direccion {
    text-align: center;
    color: darkgray;
    font-size: 0.8em;
}

.container {
    width: 90px;
    margin: auto;
}

.container-fluid {
    width: 100%
}

#cabecera {
    min-height: 800px;
    background-image: url('../images/fondo-dodger-stadium.png');
    background-size: cover;
}

#navbar {
    height: 80px;
    width: 100%;
    position: fixed;
}

#notass{
    text-align: left;
}
#nota {
    min-height: 400px;
    width: 900px;
    margin: 30px;
    margin-left: 30px;
    text-align: justify;
    color: orange;
    font-family: inherit;
    font-weight: bold;
}
